/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* --- Body --- */
body{
  font-family: 'Raleway', sans-serif;
}

/* --- Navbar --- */
nav ul a,
nav .brand-logo {
  color: #EF5350;
}

nav .nav-wrapper {
    padding: 0 50px;
}

nav .brand-logo {
  font-family: 'Satisfy', cursive;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #EF5350;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

/* --- Intro --- */
.section-intro {
  height: 100%;
  width: 100%;
}

.header {
  margin-top: 15%;
}

/* em = elemento base */
.header-subtitle {
  margin-top: 10%;
  font-size: 1.3em; 
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .nav-wrapper {
      padding: 0 10px;
  }

}

/* --- Servizio --- */
.col-servizio {
  margin-top: 60px;
  margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5 {
  font-size: 1.5em;
  line-height: 1.6em;
}

/* --- Registrazione --- */
.registrazione-icon {
   font-size: 7em;
   margin-top: 60px;
}

.section-registrazione {
  height: 100%;
  width: 100%;  
}

.registrazione-subtitle {
  margin-top: 5%;
  font-size: 1.3em; 
}

.btn-registrazione {
  width: 100%;
}

/* --- Ospita --- */
.ospita-icon {
   font-size: 7em;
   margin-top: 60px;
}

.ospita-subtitle {
  margin-top: 5%;
  font-size: 1.3em; 
  line-height: 2em;
}

.btn-ospita {
  width: 100%;
}

/* --- Footer --- */
footer.page-footer {
  margin: 0;
  background-color: #3D5467;
}

.social-icon {
  font-size: 1.5em;
  color: #FFF;
  padding: 0 20px;
}

.social-icon:hover {
  color: #EF5350
}